In [70]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn

In [71]:
df=pd.read_csv(r'D:\notebook\spam.csv')

In [72]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [73]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [74]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [75]:
df['v1']=df.v1.map({'ham':0, 'spam':1})

In [76]:
df.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [77]:
from sklearn.feature_extraction.text import CountVectorizer

In [78]:
count_vector=CountVectorizer()

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
x_train,x_test,y_train,y_test=train_test_split(df['v2'],df['v1'], random_state=0)

In [81]:
train=count_vector.fit_transform(x_train)
test=count_vector.transform(x_test)

In [82]:
#picling CountVectorizer
import pickle
cvname='D:/notebook/countvector'
outfile=open(cvname,'wb')
pickle.dump(count_vector,outfile)
outfile.close()

In [83]:
from sklearn.naive_bayes import MultinomialNB

In [86]:
nb=MultinomialNB()
model=nb.fit(train,y_train)

In [88]:
#pickling ML model
import pickle
filename='D:/notebook/spamsms'
outfile=open(filename,'wb')
pickle.dump(model,outfile)
outfile.close()

In [90]:
pred=nb.predict(test)
pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [92]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,pred)
score

0.9863603732950467

In [98]:
sms=input('Enter the sms message recieved')
predict_sms=nb.predict(count_vector.transform([sms]))
predict_sms
if(predict_sms[0]==1):
    print(sms, "is spam")
else:
    print(sms, "is ham")

Enter the sms message recievedprize
prize is spam